@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&family=Lato&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    font-family: 'Lato', sans-serif;
}

//Mixins and Utalities
$primary-color : hsl(12, 88%, 59%);
$secondary-color : hsl(228, 39%, 23%);
$text-color: #4a4c57bb;
$p-color : rgba(85, 83, 83, 0.575);
$btn-color : #f79076;
$normal-padding:20px;
$phone-padding: 10px;
$bg-color: hsl(13, 100%, 96%);
$bg-color2: hsl(0, 0%, 98%);


@mixin startBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:$normal-padding;
    border: none;
    font-size: 15px;
    text-align: center;
    padding:20px;
    width:130px;
    height:40px;
    color:white;
    background:$btn-color;
    border-radius:20px ;
    font-weight: 700;
    cursor: pointer;
    -webkit-box-shadow: -5px 15px 34px 0px rgba(246,144,118,0.38);
    -moz-box-shadow: -5px 15px 34px 0px rgba(246,144,118,0.38);
    box-shadow: -5px 15px 34px 0px rgba(246,144,118,0.38); 
}

@mixin boxshadow1 {
    -webkit-box-shadow: -5px 15px 34px 0px rgba(246,144,118,0.38);
    -moz-box-shadow: -5px 15px 34px 0px rgba(246,144,118,0.38);
    box-shadow: -5px 15px 34px 0px rgba(246,144,118,0.38); 
}

@mixin makeParent {
    position:relative;
    min-height: 100vh;
    overflow: hidden;
}

@mixin makeBg {
       z-index: -1;
        overflow: hidden;
        position: absolute; 
        height: 45rem;
        width: 45rem;
}

@mixin sizeOfParent {
    width: 85vw;
    min-height: 90vh;
}
header{
    @include makeParent();

    .bgsvg1
    {
        @include makeBg();
        right:-5%;
        top:-30%;  
       
    }
    .bgsvg3{
        display: none;
    }
    
    nav{
        
        .navbar{

            padding:$normal-padding;
            display: flex;
            flex-wrap: wrap;

            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
            
            .navItem{
                font-size: 16px;
                display: flex;
                font-weight: 700;
                min-width: 40%;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;
                color:$text-color;
                li:hover{
                cursor: pointer;
                color:#4a4c5770;
            }
            }
            
            .logo
            {
                margin-top: 10px;
            }
            .startButton{
                @include startBtn();
            }
            .burgericon{
                display: none;
            }
            .close{
                display: none;
            }
            .phoneItem{
                display: none;
            }
        }
    }


    aside{
        display: grid;       
        justify-content: center;
        // margin-top: 50px;
        .landing{
            display: grid;
            
            grid-template-columns: repeat(2,2fr);
            // border:1px solid;
            align-content: center;
            justify-content: center;
            margin-top:$normal-padding;
            @include sizeOfParent();
            .headText
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
              h1{
                  font-size: 40px;
                  font-weight: 800;
                  color:$secondary-color;
                  padding-bottom: 20px;
                  letter-spacing: 1.5px;
              }
              p{
                  padding-bottom: 20px;
                  font-size: 16px;
                  color:rgba(0, 0, 0, 0.575);
              }
              .startButton{
                margin-top: 20px;
                  @include startBtn();
              }

            }
            .headImg{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
             
                // border: 1px solid red;
                img{
                    // border: 1px solid red;
                    max-width: 458px;
                    max-height: 433px;
                    align-self: flex-end;
                }
            }
        }
    }
    
}


section{
    @include makeParent();
    // border: 1px solid;
    .bgsvg2{
        @include makeBg();
        top: 50%;
        left: -30%;
    }
    // border: 1px solid ;
    aside{
       
        display: grid;
        justify-content: center;
     
        .section{
            @include sizeOfParent();
            display: grid;
            grid-template-columns: repeat(2,1fr);
            // border: 1px solid blue;
            .whatIs{
                
                h1{
    
                    color:$secondary-color;
                    font-size: 40px;
                    font-weight: 800;
                    padding-bottom: 20px;

                }
                p{
                    // border: 1px solid blue;
                    padding-top: 20px;
                    font-weight: 800;
                    width: 55%;
                    color:$p-color;
                }
            }
            .info{
                .infoDiv{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 40px;
                    button{
                        width:200px;
                        height: 40px;
                        border-radius: 20px;
                        border:none;
                        background:$primary-color;
                        color:white;
                        margin-right: $normal-padding;
                    }
                    .infoText{
                        h1,p{
                            padding:10px $normal-padding $normal-padding 0;
                        }
                        h1{
                            color:$secondary-color;
                        }
                        p{
                            color:$p-color;
                            line-height: 30px;
                            font-weight: 800;
                            
                        }
                        margin-left: $normal-padding;
                    }
                }
            }
        }
    }
    
}


article{
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 100%;
    overflow: hidden;
    height: 90vh;
    // border:1px solid;
    h1{
        font-size: 40px;
        font-weight: 800;
        color:$secondary-color;
    }


    .container-fluid{
        //border: 1px solid red;
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        // overflow: hidden;
        align-items: center;
        margin:0;
        padding: 0;
        position: relative;
        
        // .row{
        //     width: 100%;
        //     margin: 0;}
            
            .carousel{
          
               
                .carousel-indicators{
                    display: none;
                    z-index: 2;
                    position:absolute;
                    bottom:-10%;
                
          
                }
                .carousel-indicators > button{
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background-color: $btn-color;
                }

                .carousel-inner{
                    margin:0px;
                    height: 60vh;
                    // border:1px solid yellow;
                    display: flex;
                        
                        justify-content: flex-start;
                        padding: 0;
                        margin:0;
                        align-items: center;
                    overflow: visible;
                    .carousel-item{
                        .caroueslCard{
                                    // border: 1px solid green;
                                    display: flex;
                                    position:relative;
                                    flex-direction: column;
                                    text-align: center;
                                    justify-content: center;
                                    align-items: center;                                   
                                    min-height: 50vh;                               
                                    background:$bg-color2;
                                    margin-left: 40px;
                                    border-radius: 10px;
                                    img{
                                        position: absolute;
                                        top:-5%;
                                        left:50%;
                                        transform: translate(-50%,-50%);
                                        width: 70px;
                                        height: 70px;
                                    }
                                    h4{                                      
                                        font-weight: 800;
                                        color:$secondary-color;
                                    }                                                                       
                                    p{                                        
                                        color:$p-color;
                                        font-weight: 800;
                                        line-height: 1.6rem;
                                        font-size: clamp(14px,40%,16px);
                                        padding:0 $normal-padding;
                                    }
                                }
                    }
                  
                            
                            
                                
                            
                    
                    
                }
            }
        // }
        
    }

    button{
        @include startBtn();
    }
}


footer{
    margin-top: 60px;

    .foot{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow: hidden;
        position: relative;
        height:30vh;
        width: 100%;
        background:$primary-color;
        justify-content: center;
        align-content: center;
    
        img{
            @include makeBg();
            z-index: 1;
            opacity: .2;
            top:-10%;
            left:5%;
            height: 30rem;
            width: 30rem;
        }
        .footText{
            width: 80%;
            justify-self: center;
            // margin-left: 50px;
            padding:$normal-padding;
            // border: 1px solid white;
            h1{
                text-align: left;
                word-spacing:2px;
                font-size: 35px;
                color:white;
                font-weight: 800;
            }
        }
        button{
            justify-self: right;
            margin-right: 7rem;
            align-self: center;
            @include startBtn();
            background:white;
            color:$primary-color;
        }
    }
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        height:40vh;
        width: 100%;
        background:hsl(233, 12%, 13%);

        .contactContainer{
 
            padding-top: 30px;
            width: 90%;
            height: 35vh;
            // border: 1px solid red;
         
            display: grid;
            grid-template-columns: 20% 50% 30%;
            color:white;
            .social{
                display: grid;
                grid-template-rows: repeat(2,1fr);
                .logo{
                   height: 50%;

                   img{
                       margin-top: $normal-padding;
                       width: 150px;
                       height: 23px;
                       padding-left: 10px;
                   }
                }
                ul{
                    height: 50%;
                    padding-left: 0;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    li{
                        padding-left:10px;
                        cursor: pointer;
                    }
                    
                }
            }
            .list1{
               display: flex;
               flex-direction: row;
               justify-content: space-evenly;
                margin-right: 20px;
                ul{
                    list-style-type: none;
                    padding-top: $phone-padding;
                    padding-left: 20px;
                 
                    li{
                        padding-bottom:$phone-padding;
                        cursor: pointer;
                    }
                    li:hover{
                        color:$primary-color;

                    }
                }
                
            }
            .input{
                width: 150%;
                margin-top: $normal-padding;
                // display: flex;
                // flex-direction: row;
                // align-items: flex-start;
                // border: 1px solid green;
                 .inputBox{
                    // border: 1px solid green;
                    width:100%;
                     input{
                        border:none;
                        border-radius: 20px;
                        height: 40px;
                        padding:20px;
                    }
                    button{
                        color:white;
                        border:none;
                        font-size: 16px;
                        height: 40px;
                        margin-left:5px;
                        background:$primary-color;
                        border-radius:18px ;
                        font-weight: 700;
                        cursor: pointer;
                    }
                 }
                 span{
                     font-size: 14px;
                     padding-left: 10px;
                 }
                
                 h4{
                     font-size: 16px;
                     padding:$normal-padding;
                     color:rgba(255, 255, 255, 0.596);
                 }
                
            }
            .phoneCredit{
                display: none;
            }
            
        }
        
    }
    
}





//for mobile 
@media screen and (max-width:428px){
    header{
        .bgsvg1{
            right:-38%;
            top:-9%;
            height: 30rem;
            width: 30rem;
        }
        .bgsvg3{
            display: block;
            @include makeBg();
            bottom:-25%;
            left: 75%;
        }
        nav{
            .navbar{
                padding:30px 0px;
     
                align-items: center;
                .logo{
                    img{
                       width: 110px;
                       height: 20px;
                        margin-top: 8px;
                    }
                    padding-left: -10px;
                    margin-top: 0;
                }
                
                .startButton,.navItem{
                    display: none;
                }
                .burgericon{
                    display: block;
                }
                .phoneItem{
                    display: none;
                    
                }
                .phoneItem.show{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;
                    flex-wrap: wrap;
                    width: 80%;
                    padding:$normal-padding;
                    margin-top: $normal-padding;
                    cursor: pointer;
                    background:rgb(255, 255, 255);
                    @include boxshadow1();
                    li{
                        color:$secondary-color;
                        font-weight: 600;
                        padding:$normal-padding;
                    }
                    li:hover{
                        color:$text-color;
                    }
                }
                .close.show1{
                    display: block;
                }
                .open.hide{
                    display: none;
                }
            }
        }

        aside{
            .landing{
                min-height: 80vh;
                grid-template-columns:none;
                grid-template-rows: repeat(2,50%);
                align-content: none;
                justify-content: none;
                margin-bottom: 20px;
                .headImg{
                    grid-row: 1/2;
                    align-self: start;
                    img{
                        width:343px;
                        height: 325px;
                    }
                }
                .headText{
                    align-self: start;
                    grid-row: 2/3;
                    h1{
                        font-size: 35px;
                        text-align: center;
                        padding-bottom: 20px;
                        letter-spacing: 0;
                    }
                    p{
                        text-align: center;
                    }
                    .startButton{
                        
                          @include startBtn();
                          margin: 20px auto;
                      }
        
                }
                
            }
        }
    }

    section{
        margin-top: 0px;
        .bgsvg2{
            top:-5%;
            left: 50%;
            height: 30rem;
            width: 30rem;
        }
        aside {
            justify-content: none;
     
            .section{
                grid-template-columns: 100%;
                grid-template-rows: 40vh 1fr;
                .whatIs{
                    
                    h1{
                     
                       
                        font-size: 30px;
                        text-align: center;
                        // padding:0px 50px 0 0px;

                    }
                    p{
                        text-align: center;
                        width: 100%;
                        line-height: 30px;
                        // padding:20px 20px 0 20px;
                        
                    }
                }
                .info{
                    .infoDiv{
                        padding-top: 20px;
                        button{
                            width: 300px;
                            margin-right: 5px;
                        }
                        .infoText{
                            h1{
                                font-size: 17px;
                                font-weight: 800;
                                background:hsl(13, 100%, 96%);
                                padding:10px 0 10px 0;
                            }
                            margin-left: $phone-padding;
                        }
                    }
                }
            }
        }
        

    }

    article{
        h1{
            font-weight: 800;
            font-size: 30px;
        }
        .container-fluid{
        align-items: center;
            height: 60vh;
            overflow: hidden;
            .carousel{
                .carousel-indicators{
                    display: flex;
                }
                .carousel-inner{  
                    height: 35vh;                
                    .carousel-item{
                        .caroueslCard{
                            min-height: 40vh;  
                            margin:0 40px;
                            justify-content: center;
                            // img{
                            //     top:12%;
                            // }
                            p{
                                padding:0;
                            }
                        }
                         #card3,#card1{
                                   display: none;
                        }
                    }   
                }
            }
            
        }
    }

    footer{
        margin-top: 0;
        
        .foot{
            padding:30px 0px;
            grid-template-columns: 1fr;
            grid-template-rows:repeat(2,1fr);
            height: 40vh;
            img{
                top:10%;
                left:-65%;
                height: 20rem;
                width: 20rem;
            }
            .footText{
                width: 100%;
                h1{
                    text-align: center;
                    padding:$normal-padding;
                }
            }
            button{
                justify-self: center;
                margin-right: 0;
            }
       
        } 
        .contact{
            height: 35rem;
            padding-top: 10px;
            align-items: flex-start;
            padding-top: 50px;

            .contactContainer{
                padding-top: 0;
                width: 100%;
                height: 50vh;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4,1fr);
                .input{
                    grid-row: 1 / 2;
                    display: flex;
                    flex-direction: column;
                    
                    align-items: center;
                    margin:auto;
                    h4{
                        display: none;
                    }
                    span{
                        align-self: stretch;
                        margin-left: 30px;
                        opacity: .6;
                    }
                    .inputBox{
                        width:90%;

                        input{
                            margin-left: 10px;
                        }

                        
                    }

                }
                .list1{
                    grid-row: 2 / 3;
                    margin-right: 0;
                    padding:30px 0;
                    justify-content: space-around;
                }
            
                .social{
                    padding-left: 0;
                    grid-row: 3 / 4;
                    .logo{
                        justify-self: center;
                        grid-row: 2/3;
                        height: 100%;
                        width: 50%;
                        margin-top: $phone-padding;
                    }
                    ul{
                        width: 100%;
                        justify-content: center;
                        grid-row: 1/2;
                        li{
                            padding:0 15px;
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }

                .phoneCredit{
                    display: flex;
                    margin: $normal-padding auto ;
                    font-size: 16px;
                    padding:$normal-padding;
                    color:rgba(255, 255, 255, 0.596);

                }
                
            }

        }
        
    }
}